includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - tests
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Unsafe usage of new static\(\)#'
        - '#Property.*\$data.*type has no value type specified in iterable type array#'
        - '#Class.*has PHPDoc tag @property for property.*with no value type specified in iterable type array#'
        - '#Method.*return type with generic class.*does not specify its types#'
        - '#Method.*has parameter.*with generic class.*does not specify its types#'

